<html lang="en-US">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="%% url_for('static', filename='css/app.css') %%">

	<div ng-app="myApp" ng-controller="myCtrl">
			<tree nodes='treeNodes' options='options'>
		

		<div ng-view></div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    	

    	<script src="%% url_for('static', filename='lib/angular/angular-animate.min.js') %%"></script>
    	<script src="%% url_for('static', filename='lib/angular/angular-recursion.js') %%"></script>

    	<script src="%% url_for('static', filename='lib/tree-widget/angular-tree-widget.js') %%"></script>
		<link rel="stylesheet" href="%% url_for('static', filename='lib/tree-widget/angular-tree-widget.css') %%">

		<script src="%% url_for('static', filename='lib/bootstrap/ui-bootstrap-tpls-2.1.3.min.js') %%"></script>
    	<script src="%% url_for('static', filename='js/app.js') %%"></script>
    	<script src="%% url_for('static', filename='js/controllers.js') %%"></script>
    	<script src="%% url_for('static', filename='js/directives.js') %%"></script>
    	<script src="%% url_for('static', filename='js/filters.js') %%"></script>
    	<script src="%% url_for('static', filename='js/services.js') %%"></script>
    	<script src="%% url_for('static', filename='js/routes.js') %%"></script>

    
</html>
